/*Whole page definitions*/

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 62.5%;
  background-color: white;
  margin: 0;
  padding: 0;

}

::selection {
  background: #EB3FBD;
  /* WebKit/Blink Browsers */
}


/*removes outline of focus*/

*:focus {
  outline: none;
}

ul {
  -webkit-padding-start: 0px;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 4em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-weight: 100;
}

h4 {
  font-size: 1.7em;
}

h3 {
  font-size: 2em;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  position: relative;
}

.day {
  font-size: 350%;
  text-align: center;
}

.month {
  font-size: 150%;
  text-align: center;
}

.square {
  min-height: 1px;
  position: relative;
  opacity: 0.9;
  width: 28%;
  height: auto;
  margin-right: 20px;
  float: left;
  padding: 15px 10px 10px 15px;
  transition: -webkit-filter, opacity 150ms linear;
}

.square:hover {
  opacity: 1;
  transition: -webkit-filter, opacity 150ms linear;
}

.squareContainer {
  position: absolute;
  bottom: 20px;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

#top,
#whatCan,
#happening,
#successStories {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 10px 0 10px 0;
  position: relative;
}

.square .bottomText {
  position: absolute;
  bottom: 0;
  padding-top: inherit;
  padding-top: 30px;
}

.square .bottomText:hover{
text-decoration: underline;
}

.square .bottomText img {
  vertical-align: middle;
  padding-right: 10px;
}


/******************************top definitions********************************/

#top {
  background-color: white;
  z-index: 10;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100px;
  font-size: 1.3em;
}

.navbar li {
  text-transform: uppercase;
  width: auto;
  vertical-align: text-bottom;
  padding: 3px;
  display: inline-block;
  
}

.navbarLi:hover {}

.divider {
  background: url("./img/divider.png") center center no-repeat;
  height: 15px;
  width: 1px;
}

.dividerBig {
  background: url("./img/line_divider_video.png") center center no-repeat;
  float: left;
  margin-left: 25%;
}

.nav,
.logo {
  //width: auto;
  display: block;
  left: 0;
  height: 17px;
  float: left;
}

.nav {
  padding-top: 60px;
}

.logo {
  padding-top: 10px;
}

ul li ul.dropdown {
  width: 100%;
  height: 200px;
  padding: 20px;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.navbarLi:hover {
  color: #3399cc;
  box-shadow: 0 1px 5px 0 gray;
}

.navbarLi:hover ul.dropdown {
  display: block;
  color: black;
}

ul li ul.dropdown li {
  display: block;
}

.dropdownImage {
  float: right;
  background: url("./img/line_divider_video.png") no-repeat scroll left 0px;
  padding-left: 50px;
}

.dropdownList {
  float: left;
  padding-right: 20%;
}

.dropdownList a {
  display: block;
}

.rightMenu {
  width: 180px;
  padding-top: 10px;
  display: block;
  vertical-align: baseline;
  float: right;
}

.loginMenu,
.searchBG {
  width: auto;
  display: inline;
}

.loginMenu {
  padding-top: 5px;
  border: none;
}

.searchBar {
  margin-top: 40px;
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 5px;
}

.searchBar .submit {
  background: url("./img/searchBtn.png") no-repeat scroll center center;
  border: none;
  width: 26px;
  height: 21px;
  float: right;
}

.searchBar .inputText {
  background: url("./img/divider.png") no-repeat scroll right 0px;
  border: none;
  overflow: hidden;
  padding: 2px 5px;
}

#search{
  text-align: center;
}

.searchBar .inputText input {
  background: none;
  border: none;
  display: block;
  color: hsl(67, 5%, 33%);
  width: 100%;
}


/******************************slides definitions********************************/

#slideMachine {
  position: relative;
  font-family: Verdana, Geneva, sans-serif;
}

#slideMachine h1 {
  text-align: left;
  text-transform: capitalize;
}

.slidesBtn{
  background: linear-gradient(to bottom, rgb(55, 157, 210) 0%, rgb(17, 136, 200) 100%);
  width: 180px;
  float: left;
  text-transform: uppercase;
  text-align: left;
}

.slidesBtn:hover{
  background: #2F9DD3;
}

#slideMachine .square {
  height: 150px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 gray;
  color: white;
  text-transform: capitalize;
  height: 130px;
}

.squareText{
  margin: 0;
  font-size: 2em;
}

.bottomText p{
font-size: 1.5em;
}

#pink {
  background-color: #fb429e;
}

#green {
  background-color: #6ac032;
}

#orange {
  background-color: #ff7518;
}

.slideMachine {
  padding-bottom: 15px;
  position: absolute;
  width: auto;
  display: block;
  bottom: 0;
}

.slides {
  margin: 0;
  padding: 0;
  height: auto;
}

.slides .slide {
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
  color: white;
}

.slideHeader{
  padding-top: 30px;
}

.subHeader{
  font-size: 1.4em;
}

.slides .current {
  background-image: url(./img/slide-bg-complexity.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: inline-block;
  height: 550px;
}

.bullets{
  height: 10px;
  padding-top: 10px;
  float: left;
  display: block;
}

.bulletPoint{
  width: 10px;
  height: 10px;
  background-color: #e5e5e5;
  float: left;
  display: inline-block;
  margin-left: 10px;
  border-radius: 3px;
  box-shadow:  0 1px 3px 0 gray;
}

.bulletPoint:hover{
  background-color: white;
}

.bullets .currentBlt{
  background-color: #2e95ca;
}


/******************************what can definitions********************************/

#whatCan {
  background-image: url(./img/weDoBG.png), radial-gradient(at 50% 50%, rgb(89, 190, 219) 0%, rgb(51, 153, 204) 100%);
  color: white;
  height: 365px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
}

#whatCan p {
  font-size: 1.5em;
}

#whatCan a:hover {
  text-decoration: none;
}

.whatCanItems ul {
  padding-bottom: 50px;
  vertical-align: baseline;
}

.whatCanItems li {
  display: block;
  padding-top: 0px;
  padding-right: auto;
  text-align: center;
  float: left;
  width: 150px;
  margin: auto;
  position: relative;
  display: ​ table;
}

.whatCanImage {
  display: table-cell;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-position: center center;
  width: 150px;
  height: 150px;
  transition: -webkit-filter, background-image 150ms linear;
}

.whatCanImage:hover {
  background-repeat: no-repeat;
  background-position: center center;
  transition: -webkit-filter, background-image 150ms linear;
}

.whatCanImage p {
  margin-top: 150px;
}

.button{
  margin: 0 auto;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
}

.button:hover{
  text-decoration: none;
}

.seeAllSolutionsBtn{
  background: linear-gradient(to bottom, rgba(63,123,147,0.5) 0%,rgba(0,78,105,0.5) 100%);
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 180px;
  margin-left: -90px; 
  text-align: center;
}

.seeAllSolutionsBtn:hover{
  background: #2F9DD3;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
}

.btnText{
  background: url("./img/btnArrow.png") no-repeat right center;
  display: block;
  height: 100%;
  font-size: 1.3em;
}


/******individual background images*/

#im1 {
  background-image: url("./img/solution_icon_smart-money.png");
}

#im1:hover {
  background-image: url("./img/solution_icon_smart-money_hover.png");
}


/*********/

#im2 {
  background-image: url("./img/solution_icon_biz-analitics.png");
}

#im2:hover {
  background-image: url("./img/solution_icon_biz-analitics_hover.png");
}


/*********/

#im3 {
  background-image: url("./img/solution_icon_optimize-efficnt.png");
}

#im3:hover {
  background-image: url("./img/solution_icon_optimize-efficnt_hover.png");
}


/*********/

#im4 {
  background-image: url("./img/solution_icon_personal.png");
}

#im4:hover {
  background-image: url("./img/solution_icon_personal_hover.png");
}


/*********/

#im5 {
  background-image: url("./img/solution_icon_biz-transform.png");
}

#im5:hover {
  background-image: url("./img/solution_icon_biz-transform_hover.png");
}


/*********/

#im6 {
  background-image: url("./img/solution_icon_diti-cx.png");
}

#im6:hover {
  background-image: url("./img/solution_icon_diti-cx_hover.png");
}


/******************************happening definitions********************************/

#happening {
  background-image: url(./img/news-and-events-bg.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
}

#happening .square {
  height: 230px;
}

.happeningMenu {
  top: 20%;
}

.hideHeader {
  opacity: 0;
}

#happening .square h1 {
  text-align: left;
}

.inner {
  float: left;
  padding: 10px;
  border-radius: 3px;
}

.inner p {
  float: right;
  width: 65%;
}

.happening.inner:hover {
  background-color: rgba(220, 220, 220, 1);
  transition: -webkit-filter, background-color 150ms linear;
}

.happening.inner {
  background-color: rgba(220, 220, 220, 0.6);
  transition: -webkit-filter, background-color 150ms linear;
}

.inner .date {
  color: white;
  float: left;
  margin-right: 10px;
  border-radius: 2px;
  height: 100px;
  width: 30%;
}

.happening.inner .date {
  background-color: #3399cc;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.50) inset;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.30);
}

.happening.inner .day {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: hsl(0, 100%, 100%);
}

.inner .day {
  height: 66px;
  line-height: 66px;
}

.inner .month {
  height: 33px;
}

.icon {
  border: none;
  width: auto;
  height: 22px;
  float: left;
  padding-left: 30px;
  vertical-align: middle;
  color: white;
}

.icon:hover {
  color: black;
  text-decoration: none;
}

.eventsIcon {
  background: url("./img/eventListIconEvents.png") no-repeat scroll left center;
}

.eventsIcon:hover {
  background: url("./img/eventListIconEvents_hover.png") no-repeat scroll left center;
}

.newsIcon {
  background: url("./img/eventListIconNews.png") no-repeat scroll left center;
}

.newsIcon:hover {
  background: url("./img/eventListIconNews_hover.png") no-repeat scroll left center;
}


/******************************success stories definitions********************************/

#successStories {
  background-color: #ECECEC;
  height: 512px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
  color: rgb(108, 108, 108);
  padding-bottom: 0;
}

#successStories h1 {
  color: rgb(108, 108, 108);
}

#successStories ul {
  margin: 0;
  padding: 0;
  width: 345px;
  height: 323px;
  float: left;
}

#successStories .ulSmall {
  width: 230px;
  //overflow: hidden;
}

#successStories li {
  padding: 5px;
  float: left;
}

#successStories li a {
  display: block;
}

.sub div {
  height: 95px;
  width: 105px;
  padding: 0px;
  background-color: white;
  float: left;
  position: relative;
  clear: left;
  overflow: hidden;
}

.sub img {
  display: block;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  transition: -webkit-filter, opacity 150ms linear;
}

.sub:hover img {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  transition: -webkit-filter, opacity 150ms linear;
}

.main div {
  float: left;
  //overflow: hidden;
  background-color: white;
}

.mainDiv {
  height: 170px;
  padding: 10px;
}

.name {
  color: #4ea7d3;
  text-transform: uppercase;
  margin: 0;
  overflow: hidden;
}

.position {
  margin: 0;
  overflow: hidden;
}

.companyLogo {
  float: right;
  height: auto;
  width: 70px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  //transition: -webkit-filter, opacity 150ms linear;
}


/*.companyLogo:hover{
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  transition: -webkit-filter, opacity 150ms linear;
}*/

.pinfo {
  float: left;
  height: 100%;
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
}

.mainTop {
  height: 75%;
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}

.mainTop p {
  margin: 0;
}

.mainTop img {
  float: left;
  padding-right: 10px;
}

.mainBottom {
  height: 25%;
  width: 100%;
  overflow: hidden;
}


/*li .hidden{
  background-color: #3AA6DB;
  color: white;
  overflow: hidden;
  margin-top: -190px;
  padding: 10px;
  opacity: 0;
  //transition: all 0.5s ease;
}

.main:hover .front{
  max-height: 0px;
  transition: all 0.5s ease;
}

.main:hover .hidden{
  opacity: 1;
  transition: all 0.5s ease;
}*/

li .hidden {
  background-color: #3AA6DB;
  color: white;
  overflow: hidden;
  height: 190px;
  padding: 0;
  margin-top: -190px;
  transition: all 0.5s ease;
}


/*.ulSmall .hidden{
  width: 220px;
}

li .front{

}*/

li .hidden p {
  padding: 20px;
}

.main:hover .hidden {
  height: 0px;
  //transform: translateY(-190px);
  transition: all 0.5s ease;
}

.toTopbtn{
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}

.backTop{
  display: block;
}


/******************************footer definitions********************************/

footer {
  background-image: url(./img/footerPattern.png);
  color: white;
  overflow: hidden;
  position: relative;
  height: 400px;
  clear: both;
}

footer .square {
  padding: 0;
}

.footerLink a{
  font-size: 1.2em;
}

.copyright {
  color: rgb(128, 128, 128);
  clear: both;
  position: absolute;
  bottom: 0;
}

.copyright li {
  padding-right: 8px;
  display: inline;
}

.footerRightMenu {
  background-color: rgba(133, 133, 133, 0.5);
  padding: 25px 20px 0;
  position: relative;
  float: right;
  width: 250px;
  height: 100%;
}

.footerLeftMenu {
  float: left;
  width: 650px;
}

.footerLeftMenu li {
  display: inline;
  float: left;
}

.FooterCenter a {
  display: block;
  padding: 2px;
}

.footerRightMenu h3 {
  color: #4ea7d3;
  text-align: center;
}

.socialMediaLinks {
  position: absolute;
  bottom: 0;
  padding-bottom: 35px;
}

.footerLeftMenu h3 {
  //font-size: 1.6em;
  text-align: left;
}

.blogPost {
  float: left;
}

footer .blogPost {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: hsl(0, 100%, 100%);
  padding: 10px;
}

.subscribe {
  padding: 10px;
}

.subscribeForm {
  border: none;
  border-radius: 2px;
  outline: none;
  background: white;
}

.submitSubscribe {
  width: 65%;
  height: 26px;
  margin: 0;
  padding: 0 0 0 5px;
  border: none;
  //border-radius: 2px;
  background: white;
  text-align: center;
}

.subscribeButton {
  background: linear-gradient(to bottom, rgb(89, 190, 219) 0%, rgb(51, 153, 204) 100%);
  //background: linear-gradient(to bottom, #3AA6DB , #2a92c6);
  color: white;
  border: none;
  border-radius: 2px;
  //cursor: pointer;
  height: 26px;
  width: 30%;
  float: right;
}

.youtube {
  background: url("./img/socialMenuIcon-youtube.png") no-repeat;
}

.youtube:hover {
  background: url("./img/socialMenuIcon-youtube_hover.png") no-repeat;
}

.twitter {
  background: url("./img/socialMenuIcon-twitter.png") no-repeat;
}

.twitter:hover {
  background: url("./img/socialMenuIcon-twitter_hover.png") no-repeat;
}

.linkedIn {
  background: url("./img/socialMenuIcon-linkdin.png") no-repeat;
}

.linkedIn:hover {
  background: url("./img/socialMenuIcon-linkdin_hover.png") no-repeat;
}