/*Whole page definitions*/

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 90%;
  background-color: white;
  margin:0;
  padding:0;
}

li{
  list-style: none;

}

a{
  color: inherit;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}


h3{
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.day{
	font-size: 400%;
	text-align: center;
}

.month{
	font-size: 200%;
	text-align: center;
}


/*Navbar definitions*/

#top{
  overflow: hidden;
  background-color: white;
  z-index: 500;
}

.navbar li{
  display: inline;
  text-transform: uppercase;
  width: auto;
  vertical-align: text-bottom;
  padding: 5px;
   
}

.divider{
  background: url("./img/divider.png") center center no-repeat;
  height: 150%;
}

.nav, .logo{
  //width: auto;
  display: block;
  left: 0;
  height: 17px;
  float: left;

}

.nav{
  padding-top: 60px;
}

.logo{
  padding-top: 10px;
}

.rightMenu{
  width: 180px;
  padding-top: 10px;
  display: block;
  vertical-align: baseline;
  float: right;
}


.loginMenu, .searchBG{
  width: auto;
  display: inline;
}
.loginMenu{
	padding-top: 5px;
  border: none;

}
.searchBar{
	margin-top: 40px;
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 5px;
}

.searchBar .submit{
  background: url("./img/searchBtn.png") no-repeat scroll center center;
  border: none;
  width: 26px;
  height: 21px;
}

.searchBar .inputText{
  background: url("./img/divider.png") no-repeat scroll right 0px;
  border: none;

  padding: 2px 5px;
}

.searchBar .inputText input {
    background: none;
    border: none;
    display: block;
    color: hsl(67, 5%, 33%);
    width: 100%;
}

/**********************end of navbar definitions********/

.square{
  min-height: 1px;
  position: relative;
  opacity: 0.9;
  width: 25%;
  height: auto;
  margin-right: 20px;
  float: left;
  padding: 15px 10px 10px 15px;
}

.squareContainer{
	position: absolute;
	bottom: 0;
	width: inherit;
}


#top, #whatCan, #happening, #successStories{
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
  width: 100%;
  padding: 10px 0 10px 0;
  position: relative;
}

#pink, #green, #orange{
  
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 gray;
  //font-size: 1.5em;
  color: white;
  text-transform: capitalize;  
  height: 130px;
}

.square .bottomText{
	position: absolute;
	bottom:0;
	padding-top: inherit;
	padding-top: 20px;
}


.square .bottomText img{
	vertical-align: middle;
	padding-right: 10px;
}


#pink{
  background-color: #fb429e;
}

#green{
  background-color: #6ac032;
}

#orange{
  background-color: #ff7518;
}

/********************what can we do *******************/

#whatCan{
  background-image: url(./img/weDoBG.png), radial-gradient(at 50% 50%, rgb(89, 190, 219) 0%, rgb(51, 153, 204) 100%);
  color: white;
  height: 365px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15) inset;
}

.whatCanItems ul{
  padding-bottom: 50px;

  vertical-align: baseline;
  }

.whatCanItems li{
  display: block;
  padding-top: 0px;
  padding-right: auto;
  text-align: center;
  float: left;
}

.whatCanItems li img{
  margin: auto;
}

.whatCanItems li :hover{
  text-decoration: underline;
}
/*************************happening***************/
#happening{
  background-image: url(./img/news-and-events-bg.jpg);
  background-position: top center;
  background-size: cover;
  height: 400px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15) inset;
}

#happening .square{
	height: 220px;

}

.hideHeader{
	color: transparent;
}

#happening .square h3{
	text-align: left;
}

#happening .inner{
	background-color: rgba(220,220,220,0.5);
	float: left;
	padding: 10px;
	border-radius: 3px;
}


#happening .date{
	background-color: #3399cc;
	color: white;
	float: left;
	margin-right: 10px;
	border-radius: 2px;
	height: 100px;
	width: 66px;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.50) inset;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.30);
}

#happening .day{
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: hsl(0, 100%, 100%);
  height: 66px;
  line-height: 66px;
}

#happening .month{
  height: 33px;
}



/*********************slides**********************/
/*
#slideMachine{
	background-image: url(./img/slide-bg-complexity.jpg);
	background-position: center top;
	background-size: 100% auto;
	padding: 0;
	height: 0;
	padding-bottom: 25%;
	
}
*/
#slideMachine{
	z-index: -10;
	position: relative;
}

.slideMachine{
  padding-bottom: 15px;
  position: absolute;
	width: auto;
	display: block;
	z-index: 90;
	bottom: 0;
}


.slides {
  margin: 0;
  padding: 0;
}
.slides li {
  //font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
}

.slides{
	height: auto;
}

.slides .current{
	background-image: url(./img/slide-bg-complexity.jpg);
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
	display: inline-block;
	height: 450px;
}


/********************successStories***********/

#successStories{
  background-color:#ECECEC;
  height:512px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15) inset;
}

#successStories ul{
    margin: 0;
    padding: 0;

}

#successStories li{
  padding: 5px;
  float: left;
}

#successStories li a{
  display: block;
}

.sub div{
  height: 95px;
  width: 105px;
  padding: 0px;
  background-color: white;
  float: left;
  border: 5px;
  border-color: #3399cc;
  position: relative;
  clear: left;
}

.sub img{
  display: block;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 50%; 
  transform: translate(0, -50%);

  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  
  transition: -webkit-filter, opacity 150ms linear;
}

.sub img:hover{
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  transition: -webkit-filter, opacity 150ms linear;
}

.main div{
	width: inherit;
	float: left;
	
	background-color: white;
}

/************************footer definitions********/

footer{
  background-image: url(./img/footerPattern.png);
  color: white;
  overflow: hidden;
  position: relative;
  height: 400px;
  clear: both;
}

.copyright{
  color: rgb(128,128,128);
  clear: both;
  position: absolute;
  bottom: 0;
}

.copyright li{
  padding-right: 8px;
  display: inline;
  
}

.footerRightMenu{
  background-color: rgba(133,133,133,0.5);
  padding: 25px 20px 0;
  position: relative;
  float:right;
  width:190px;
  height: 100%;
}

.footerLeftMenu{
	float: left;
	width: 700px;
}

.footerLeftMenu li{
	display: inline;
	float: left;
}

.FooterCenter a{
	display: block;
  padding: 5px;
}

.footerRightMenu h3{
  color: #4ea7d3;

}

.socialMediaLinks{
	position: absolute;
	bottom: 0;
	padding-bottom: 35px;
}

.footerLeftMenu h3{
  //font-size: 1.6em;
  text-align: left;
}

footer .date, .blogPost{
	float: left;
}

footer .date{
	padding-right: 10px;
}

footer 

.blogPost{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: hsl(0, 100%, 100%);
	padding: 10px;
}

.subscribe{
	padding: 10px;
}



